.alinhamento-equipamento {
  display: flex;
  justify-content: space-between;

  div:nth-child(2) {
    margin: 5px 20px;
  }
}
.equipamento {
  height: 220px;
  width: 100%;
  margin: 5px 0;
  border: 1px solid #602a2a !important;
  border-bottom: 8px #602a2a solid !important;
}

.equipamento img {
  width: 30%;
  max-height: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.titulo-equipamento {
  color: #602a2a;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.01em;
}
