.card-login {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  /* padding: 1em; */
  /* margin-bottom: 16px; */
  border-radius: 3px;
}
.login {
  overflow: hidden;
  position: fixed;
}

::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}

.block-logo {
  height: 15%;
}

.ml-5-2 {
  margin-left: 5.5rem !important;
}

label {
  font-family: Roboto;
}

.link{
  color: #6a6a6a !important;
}

.btn-login {
    background-color: #6A6A6A !important;
}
