$mainColor: #602a2a;
.coad-anexos {
  .dzu-dropzone {
    padding: 9%;
    background: #fafafa;
    border-style: dotted;
    overflow: hidden;
    .dzu-inputLabel {
      color: $mainColor;
    }
    .dzu-inputLabelWithFiles {
      background-color: $mainColor;
      color: #fff;
    }
  }
  .row-anexo {
    justify-content: space-between;
    align-items: end;
  }
  .title-anexo {
    color: #602a2a;
    font-size: 20px;
    font-weight: bold;
    padding-left: 1rem;
  }
  .aviso-anexo {
    border: 1px;
    border: #602a2a;
    text-align: right;
    padding-right: 1rem;
  }
}

.btn-empenho {
  margin-top: 28px;
}

.p-grid {
  width: 100%;
}
