.logo-principal {
    width: 12.5em;
}

.input-height {
    height: 3em !important;
}

.coad-bg-light {
    background-color: #F2F2F2 !important;
}

.coad-height-bt {
    height: 2.375rem !important;
}
.coad-h-topbar {
    height: 10% !important;
}