.filtro {
  .card.card-w-title {
    padding: 0px;
  }
}
.p-card {
  box-shadow: none;
}
.p-grid {
  margin-left: 0;
}
.filtro-head {
  margin-right: -0.5em !important;
}
.p-col-6 {
  padding: 0.5em 0.25em 0.5em 0.5em;
}
