.container-atas {
  .icones-acoes {
    .fas {
      color: #602a2a;
    }
  }

  .button-row {
    display: flex;
    flex-direction: row-reverse;
  }

  .formatos-aceitos {
    text-align: center;
    font-weight: bold;
  }
}
